/deep/ .el-dialog__header {
	padding: 0;
}

/deep/.el-dialog__wrapper {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
	margin: 0;
}

/deep/.el-dialog {
	margin: 0 auto;
}

.area {
	background-image: url('../../../static/Cover.png');
	background-position: center 0;
	background-size: cover;
	min-height: 100vh;
	overflow: hidden;

}
.sendactivation{
	color: #0000FF;
	text-decoration: underline;
	cursor: pointer;
}
.anniu {
	width: 120px;
	height: 40px;
	font-size: 16px;
	margin-top: 30px;
}

::-webkit-input-placeholder {
	/*Chrome/Safari*/
	color: rgba(153, 153, 153, 1);
}

::-moz-placeholder {
	/*Firefox*/
	color: rgba(153, 153, 153, 1);
}

::-ms-input-placeholder {
	/*IE*/
	color: rgba(153, 153, 153, 1);
}

.halfarea {
	width: 534px;
	height: 598px;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.09);
	margin-right: 117px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.halfareall {
	width: 100%;
	height: 90vh;
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
}

.halfarea>img {
	width: 192px;
	height: 28px;
	margin-top: 79px;
}

.half2 {
	padding-bottom: 5px;
	font-size: 17px;
	border: none;
	width: 432px;
	margin-top: 108px;
	border-bottom: 1.5px solid #c0c0c0;
	outline: none;

	color: rgba(51, 51, 51, 1);

}

.half3 {
	padding-bottom: 5px;
	font-size: 17px;
	border: none;
	width: 432px;
	margin-top: 70px;
	border-bottom: #c0c0c0 1.5px solid;
	outline: none;
	color: rgba(51, 51, 51, 1);
}

.half6 {
	width: 427px;
	height: 46px;
	background: rgba(213, 213, 213, 1);
	border-radius: 2px;
	margin-top: 37px;
	text-align: center;
	line-height: 46px;
	color: rgba(255, 255, 255, 1);
}

.half5 {
	font-size: 16px;
	color: rgba(41, 47, 136, 1);
	text-decoration: underline;
	margin-top: 10px;
	margin-left: 300px;
	margin-bottom: 20px;
}

.half6blue {
	width: 427px;
	height: 46px;
	border-radius: 2px;
	margin-top: 37px;
	text-align: center;
	line-height: 46px;
	color: rgba(255, 255, 255, 1);
	background: rgba(41, 47, 136, 1);
}

.sendemail {
	width: 427px;
	height: 46px;
	border-radius: 2px;
	margin-top: 20px;
	text-align: center;
	line-height: 46px;
	color: rgba(255, 255, 255, 1);
	background: rgba(41, 47, 136, 100);
}
